{% extends 'shared/shared.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title f-shadow">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}