
.icon-mortgage-4:before { content: '\e800'; } /* '' */
.icon-blueprint:before { content: '\e801'; } /* '' */
.icon-cityscape:before { content: '\e802'; } /* '' */
.icon-elevator:before { content: '\e803'; } /* '' */
.icon-house:before { content: '\e804'; } /* '' */
.icon-house-1:before { content: '\e805'; } /* '' */
.icon-house-2:before { content: '\e806'; } /* '' */
.icon-house-3:before { content: '\e807'; } /* '' */
.icon-house-4:before { content: '\e808'; } /* '' */
.icon-house-5:before { content: '\e809'; } /* '' */
.icon-house-key:before { content: '\e80a'; } /* '' */
.icon-house-key-1:before { content: '\e80b'; } /* '' */
.icon-house-key-2:before { content: '\e80c'; } /* '' */
.icon-laptop:before { content: '\e80d'; } /* '' */
.icon-laptop-1:before { content: '\e80e'; } /* '' */
.icon-mortgage:before { content: '\e80f'; } /* '' */
.icon-mortgage-1:before { content: '\e810'; } /* '' */
.icon-mortgage-2:before { content: '\e811'; } /* '' */
.icon-mortgage-3:before { content: '\e812'; } /* '' */
.icon-mortgage-5:before { content: '\e813'; } /* '' */
.icon-placeholder:before { content: '\e814'; } /* '' */
.icon-real-estate:before { content: '\e815'; } /* '' */
.icon-real-estate-1:before { content: '\e816'; } /* '' */
.icon-real-estate-2:before { content: '\e817'; } /* '' */
.icon-real-estate-3:before { content: '\e818'; } /* '' */
.icon-real-estate-4:before { content: '\e819'; } /* '' */
.icon-real-estate-5:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e81b'; } /* '' */
.icon-skyscraper:before { content: '\e81c'; } /* '' */
.icon-skyscraper-1:before { content: '\e81d'; } /* '' */
.icon-skyscraper-2:before { content: '\e81e'; } /* '' */
.icon-skyscraper-3:before { content: '\e81f'; } /* '' */
.icon-apartment:before { content: '\e820'; } /* '' */
.icon-apartment-1:before { content: '\e821'; } /* '' */
.icon-apartment-2:before { content: '\e822'; } /* '' */
.icon-apartment-3:before { content: '\e823'; } /* '' */
.icon-apartment-4:before { content: '\e824'; } /* '' */
.icon-apartment-5:before { content: '\e825'; } /* '' */
.icon-apartment-6:before { content: '\e826'; } /* '' */
.icon-apartment-7:before { content: '\e827'; } /* '' */
.icon-appartment:before { content: '\e828'; } /* '' */
.icon-berth-bed:before { content: '\e829'; } /* '' */
.icon-bowling-ball-and-two-bowls:before { content: '\e82a'; } /* '' */
.icon-cleaning-room:before { content: '\e82b'; } /* '' */
.icon-credit-card-payment:before { content: '\e82c'; } /* '' */
.icon-door-hanger:before { content: '\e82d'; } /* '' */
.icon-double-king-size-bed:before { content: '\e82e'; } /* '' */
.icon-fire-extinguisher-signal:before { content: '\e82f'; } /* '' */
.icon-food-delivery:before { content: '\e830'; } /* '' */
.icon-frontal-taxi:before { content: '\e831'; } /* '' */
.icon-golf-court:before { content: '\e832'; } /* '' */
.icon-holiday-suitcase:before { content: '\e833'; } /* '' */
.icon-home-telephone:before { content: '\e834'; } /* '' */
.icon-hot-coffee-mug:before { content: '\e835'; } /* '' */
.icon-hotel-bell:before { content: '\e836'; } /* '' */
.icon-hotel-building:before { content: '\e837'; } /* '' */
.icon-hotel-hair-dryer:before { content: '\e838'; } /* '' */
.icon-hotel-lamp:before { content: '\e839'; } /* '' */
.icon-hotel-lift:before { content: '\e83a'; } /* '' */
.icon-iron-service:before { content: '\e83b'; } /* '' */
.icon-karaoke-room:before { content: '\e83c'; } /* '' */
.icon-large-key:before { content: '\e83d'; } /* '' */
.icon-laundry-service:before { content: '\e83e'; } /* '' */
.icon-margarita-drink:before { content: '\e83f'; } /* '' */
.icon-medicine-bottle:before { content: '\e840'; } /* '' */
.icon-meeting-room:before { content: '\e841'; } /* '' */
.icon-open-toilet:before { content: '\e842'; } /* '' */
.icon-running-on-a-treadmill:before { content: '\e843'; } /* '' */
.icon-safe-deposit-box:before { content: '\e844'; } /* '' */
.icon-security-cam:before { content: '\e845'; } /* '' */
.icon-single-bed:before { content: '\e846'; } /* '' */
.icon-single-hotel-bed:before { content: '\e847'; } /* '' */
.icon-smoking-room:before { content: '\e848'; } /* '' */
.icon-soup-spoon-and-fork:before { content: '\e849'; } /* '' */
.icon-swimming-pool-ladder:before { content: '\e84a'; } /* '' */
.icon-television-screen:before { content: '\e84b'; } /* '' */
.icon-tooth-brush-and-paste:before { content: '\e84c'; } /* '' */
.icon-towel-on-hanger:before { content: '\e84d'; } /* '' */
.icon-upstairs:before { content: '\e84e'; } /* '' */
.icon-vintage-bathtube:before { content: '\e84f'; } /* '' */
.icon-wifi-access:before { content: '\e850'; } /* '' */
.icon-wine-bottle-and-glass:before { content: '\e851'; } /* '' */
.icon-baber-scissors:before { content: '\e852'; } /* '' */
.icon-bathroom-shower:before { content: '\e853'; } /* '' */
.icon-bell-boy:before { content: '\e854'; } /* '' */
.icon-001-headset:before { content: '\e855'; } /* '' */
.icon-007-house:before { content: '\e856'; } /* '' */
.icon-008-id-card:before { content: '\e857'; } /* '' */
.icon-009-fax:before { content: '\e858'; } /* '' */
.icon-010-contract:before { content: '\e859'; } /* '' */
.icon-011-smartphone-1:before { content: '\e85a'; } /* '' */
.icon-012-24-hours:before { content: '\e85b'; } /* '' */
.icon-013-mail:before { content: '\e85c'; } /* '' */
.icon-014-agenda-1:before { content: '\e85d'; } /* '' */
.icon-015-worldwide-1:before { content: '\e85e'; } /* '' */
.icon-016-smartphone:before { content: '\e85f'; } /* '' */
.icon-017-mobile-phone:before { content: '\e860'; } /* '' */
.icon-020-telephone-3:before { content: '\e861'; } /* '' */
.icon-018-map:before { content: '\e862'; } /* '' */
.icon-022-agenda:before { content: '\e863'; } /* '' */
.icon-021-email:before { content: '\e864'; } /* '' */
.icon-019-message:before { content: '\e865'; } /* '' */
.icon-024-laptop:before { content: '\e866'; } /* '' */
.icon-027-mouse:before { content: '\e867'; } /* '' */
.icon-023-worldwide:before { content: '\e868'; } /* '' */
.icon-026-chat-1:before { content: '\e869'; } /* '' */
.icon-029-telephone-1:before { content: '\e86a'; } /* '' */
.icon-032-placeholder:before { content: '\e86b'; } /* '' */
.icon-031-link:before { content: '\e86c'; } /* '' */
.icon-035-calendar:before { content: '\e86d'; } /* '' */
.icon-034-printer:before { content: '\e86e'; } /* '' */
.icon-033-chat:before { content: '\e86f'; } /* '' */
.icon-006-smartphone-2:before { content: '\e870'; } /* '' */
.icon-005-megaphone:before { content: '\e871'; } /* '' */
.icon-002-woman:before { content: '\e872'; } /* '' */
.icon-003-like:before { content: '\e873'; } /* '' */
.icon-004-assistance:before { content: '\e874'; } /* '' */
.icon-025-arroba:before { content: '\e875'; } /* '' */
.icon-028-telephone-2:before { content: '\e876'; } /* '' */
.icon-030-telephone:before { content: '\e877'; } /* '' */
.icon-038-wall-clock:before { content: '\e878'; } /* '' */
.icon-039-info:before { content: '\e879'; } /* '' */
.icon-040-sms:before { content: '\e87a'; } /* '' */
.icon-036-customer-service:before { content: '\e87b'; } /* '' */
.icon-037-responsive:before { content: '\e87c'; } /* '' */
.icon-checked:before { content: '\e87d'; } /* '' */
.icon-check:before { content: '\e87e'; } /* '' */
.icon-next-11:before { content: '\e87f'; } /* '' */
.icon-back-8:before { content: '\e880'; } /* '' */
.icon-innovation:before { content: '\e882'; } /* '' */
.icon-security:before { content: '\e883'; } /* '' */
.icon-increase:before { content: '\e884'; } /* '' */
.icon-business-presentation:before { content: '\e885'; } /* '' */
.icon-contract-pen:before { content: '\e886'; } /* '' */
.icon-heart:before { content: '\e887'; } /* '' */